#cat{
    position: relative;
    left: 32rem;
    bottom: -17rem;
}

#otherCat{
    position: relative;
    left: 40rem;
    bottom: -8rem;
}

#sign{
    position: relative;
    width: 100px;
    height: 50px;
    right: -37.5rem;
    bottom: -15rem;
}
