body,
html {
    height: 100%;
}

.bg {
  background-image: url('../src/assets/background.png');
  height:100%;
  z-index: -101;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size:cover;
}
